.venda {
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
}

.venda .arrow {
    transition: all .5s;
}

.upside-down {
    transform: rotate(-180deg);
}